<a href="https://colab.research.google.com/github/mehta-ji/DataAnalysisPandas/blob/main/Data_Analysis_with_Python_Proj_3_%7C_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Display Top 10 Rows of The Dataset
2. Check Last 10 Rows of The Dataset
3. Find Shape of Our Dataset (Number of Rows And Number of Columns)
4.  Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
5. Check Null Values In The Dataset
6. Drop ID, Notes, Agency, and Status Columns
7. Get Overall Statistics About The Dataframe
8. Find Occurrence of The Employee Names  (Top 5)
9. Find The Number of Unique Job Titles
10.Total Number of Job Titles Contain Captain
11. Display All the Employee Names From Fire Department
12. Find Minimum, Maximum, and Average BasePay
13. Replace 'Not Provided' in EmployeeName' Column to NaN
14. Drop The Rows Having 5 Missing Values
15. Find Job Title of ALBERT PARDINI
16. How Much ALBERT PARDINI Make (Include Benefits)?
17.Display Name of The Person Having The Highest BasePay
18.Find Average BasePay of All Employee Per Year
19. Find Average BasePay of All Employee Per JobTitle
20. Find Average BasePay of Employee Having Job Title ACCOUNTANT  
21. Find Top 5 Most Common Jobs

In [2]:
import pandas as pd

salaries_df = pd.read_csv('/content/sample_data/Salaries.csv')

<ipython-input-2-5d5a78914289>:3: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries_df = pd.read_csv('/content/sample_data/Salaries.csv')

In [ ]:
# 1.
salaries_df.head(10)

In [ ]:
# 2.
salaries_df.tail(10)

In [4]:
# 3.
salaries_df.shape

(40409, 13)

In [5]:
# 4.
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40409 entries, 0 to 40408
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                40409 non-null  int64
 1   EmployeeName      40409 non-null  object
 2   JobTitle          40409 non-null  object
 3   BasePay           40408 non-null  float64
 4   OvertimePay       40408 non-null  float64
 5   OtherPay          40408 non-null  float64
 6   Benefits          4249 non-null   float64
 7   TotalPay          40408 non-null  float64
 8   TotalPayBenefits  40408 non-null  float64
 9   Year              40408 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            40408 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 4.0+ MB

In [5]:
# 5.
salaries_df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [10]:
salaries_df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [12]:
# 6.
salaries_df.drop(['Id','Notes','Agency','Status'], axis = 1)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0
...,...,...,...,...,...,...,...,...,...
40404,David Parry,Police Officer 3,117171.44,15729.27,9444.58,34797.29,142345.29,177142.58,2012.0
40405,Francisco Ho,Police Officer 3,115243.79,3373.68,23949.76,34574.54,142567.23,177141.77,2012.0
40406,Manuel Gonzales,Transit Power Line Sprv1,101660.00,23405.98,8310.00,43764.64,133375.98,177140.62,2012.0
40407,Lauro Baca III,Police Officer 2,114887.75,13882.03,13831.60,34535.78,142601.38,177137.16,2012.0
40408,Milagros Brosas,Registered Nurse,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 7.
salaries_df.describe()

In [ ]:
# 8.
# salaries_df['EmployeeName'].value_counts().head()
salaries_df1 = salaries_df['EmployeeName'].value_counts()
salaries_df2 = pd.DataFrame(salaries_df1)
salaries_df2 = salaries_df2.reset_index()
salaries_df2.columns = ['EmployeeName','Cnts']
salaries_df2

In [45]:
salaries_df2['rnk'] = salaries_df2['Cnts'].rank(method = 'dense', ascending=False)
final_df = salaries_df2.where(salaries_df2['rnk']<=5.0)

In [ ]:
final_df[final_df.notnull().all(1)]

In [7]:
# 9.
salaries_df['JobTitle'].nunique()

2159

In [8]:
# 10.
len(salaries_df[salaries_df['JobTitle'].str.contains('captain',case=False)])

552

In [9]:
# 11.
salaries_df[salaries_df['JobTitle'].str.contains('Fire',case=False)]['EmployeeName']

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

In [25]:
# 12.
import numpy as np
salaries_df['BasePayModified']=salaries_df['BasePay'].replace(np.nan,0).replace('Not Provided',0)
salaries_df['BasePayModified'].head()

0         167411.18
1         155966.02
2         212739.13
3           77916.0
4          134401.6
            ...
148649         0.00
148650            0
148651            0
148652            0
148653         0.00
Name: BasePayModified, Length: 148654, dtype: object

In [34]:
# 13.
salaries_df['EmployeeName'].replace('Not provided',np.nan,inplace=True)

In [35]:
# 14.
salaries_df.drop(salaries_df[salaries_df.isnull().sum(axis=1)==5].index,axis =0, inplace=True)

In [36]:
salaries_df.isnull().sum(axis=1)

0         3
1         3
2         3
3         3
4         3
         ..
148649    1
148650    2
148651    2
148652    2
148653    1
Length: 148654, dtype: int64

In [37]:
# 15.
salaries_df[salaries_df['EmployeeName']=='ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [39]:
# 16.--check later
salaries_df[salaries_df['EmployeeName']=='ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

In [42]:
# 17.
salaries_df[salaries_df['BasePay'].max()==salaries_df['BasePay']]['EmployeeName']

TypeError: '>=' not supported between instances of 'float' and 'str'

In [53]:
salaries_df['BasePay'].replace('Not Provided',0.00,inplace=True)

In [57]:
pd.to_numeric(salaries_df['BasePay'])

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148649         0.00
148650         0.00
148651         0.00
148652         0.00
148653         0.00
Name: BasePay, Length: 148654, dtype: float64

In [71]:
salaries_df.groupby('Year').mean()['BasePay']

TypeError: agg function failed [how->mean,dtype->object]

In [70]:
salaries_df.groupby('JobTitle').mean()['BasePay']

TypeError: agg function failed [how->mean,dtype->object]

In [66]:
salaries_df['BasePay']= pd.to_numeric(salaries_df['BasePay'], errors='coerce')

In [ ]:
salaries_df['BasePay'].describe()
salaries_df.groupby('JobTitle').mean()['BasePay']

In [75]:
salaries_df[salaries_df['JobTitle']=='ACCOUNTANT']['BasePay'].mean()

46643.172

In [77]:
salaries_df['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64